/*imporation des polices*/
@font-face {
  font-family: 'Chunkfive';
  src: url('../medias/fonts/Chunkfive\ Ex.ttf') format('truetype');
}

@font-face{
  font-family: 'BMPlexSanse';
  src: url('../medias/fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'CormorantGaramond';
  src: url('../medias/fonts/CormorantGaramond-Regular.ttf') format('truetype');
}

/*Parametrage de la page*/
body{
  background-color: #0D1B1E;
}

.entete {
  display: flex;
  background-color: #0D1B1E;
}

h1, h2 {
  font-family: 'BMPlexSanse';
  font-size: xx-large;
  padding-top: 4%;
  padding-bottom: 3%;
}

section p {
  font-family: 'CormorantGaramond';
  font-size: x-large;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 4%;
}

section h2 {
  padding-left: 3%;
}

.section{
  display: flex;
  padding-top: 3%;
}

.section p{
  font-family: 'CormorantGaramond';
  font-size: x-large;
}

.section h2{
  font-family: 'CormorantGaramond';
  font-size: x-large;
}

.pro, .for {
  padding-left: 3%;
}

.for {
  padding-left: 7%;
}

.pro {
  padding-right: 7%;
}

.pro_container {
  padding-left: 4%;
}

.for_container {
  padding-left: 4%;
}

.barre{
  height: 5px;
  background-color: aliceblue;
  margin-right: 3%;
  margin-left: 3%;
}

.barre2{
  width: 5px;
  background-color: aliceblue;
}

.barre3 {
  width: 6px;
  background-color: aliceblue;
  margin-top: 6%;
  margin-bottom: 3%;

}

/*Animation images Bastien*/
.container {
  margin: auto;
  padding-top: 7%;
  padding-left: 7%;
  padding-right: 10%;
  padding-bottom: 2%;
  overflow: hidden;
}

.box {
  width: 30vmin;
  height: 30vmin;
}

.box::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 60%;
  transform: scale(1.42);
}

.spin-container {
  width: 100%;
  height: 100%;
  -webkit-animation: spin 12s linear infinite;
          animation: spin 12s linear infinite;
  position: relative;
}

.shape {
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  -webkit-animation: morph 8s ease-in-out infinite both alternate;
          animation: morph 8s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
}

.bd {
  width: 142%;
  height: 142%;
  position: absolute;
  left: -21%;
  top: -21%;
  background: url(/medias/images/Bastien.jpg);
  background-size: 80%;
  background-position: center center;
  color: #003;
  font-size: 5vw;
  animation: spin 12s linear infinite reverse;
  opacity: 1;
  z-index: 2;
}

@-webkit-keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40%/60% 30% 70% 40%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40%/60% 30% 70% 40%;
  }
  100% {
    border-radius: 40% 60%;
  }
}
@-webkit-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/*Animation texte Bastien*/
.title{
  font-family: 'Chunkfive';
  padding-top: 7%;
  padding-left: 10%;
  color: transparent;
  font-size:150px;
  background: url(/medias/images/rainbow-nebula.jpg) repeat;
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 1px;
}