@font-face {
    font-family: 'CormorantGaramond';
    src: url('../medias/fonts/CormorantGaramond-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BMPlexSanse';
    src: url('../medias/fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

section {
    margin-top: 8%;
    margin-left: 1%;
}

h1 {
    font-family: 'BMPlexSanse';
    font-size: xx-large;
}

.imagesinfographie {
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
    width: 84%;
}

section p {
    font-family: 'CormorantGaramond';
    font-size: x-large;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
}